html {
	font-family: 'Zilla Slab', serif;
	font-size: 10px;
}

body {
	background-color: #E9EBEE;
	margin: 0;
}

nav {
	display: flex;
}

nav a {
	flex: auto;
	text-align: center;
	padding: 10px;
	font-size: 2rem;
	background: black;
	text-decoration: none;
	color: white;
}

nav a:hover {
	background: white;
	color: #292d34;
}

header {
	background-image: url(../images/universe.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 35rem;
}

header h1 {
	text-align: center;
	color: white;
	font-size: 4rem;
	margin: 0;
	padding-top: 15rem;
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	grid-template-rows: auto;
	grid-gap: 0.5rem;
}

article {
	grid-column: span 3;
	margin: 2rem;
	background: white;
	padding: 1.5rem;
}

article h1 {
	font-size: 2.5rem;
	margin: 0;
}

article p, dt, dd {
	font-size: 2rem;
}

.headshot {
	background-color: #E9EBEE;
	grid-column: span 2;
}

article img {
	max-width: 40rem;
	margin: 0 2rem;
}

footer {
	grid-column: span 12;
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
