html {
	font-family: 'Zilla Slab', serif;
	font-size: 10px;
}

body {
	background-color: #E9EBEE;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
}

nav {
	grid-column: span 12;
	display: flex;
}

nav a {
	flex: auto;
	text-align: center;
	padding: 10px;
	font-size: 2rem;
	background: black;
	text-decoration: none;
	color: white;
}

nav a:hover {
	background: white;
	color: black
}

header {
	grid-column: span 12;
	background-image: url(../images/universe.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header h1 {
	text-align: center;
	color: white;
	padding: 10rem;
	font-size: 3rem;
}

main {
	grid-column: span 12;
}

footer {
	grid-column: span 12;
}
